doctype xml
rss(
    version="2.0", 
    xmlns:atom="http://www.w3.org/2005/Atom", 
    xmlns:dc="http://purl.org/dc/elements/1.1/"
)
    channel
        - $full = $url->makeFull('feed')
        
        title volter9.github.io
        description Личный блог volter9
        link http://volter9.github.io
        atom:link(
            href=$full,
            rel="self",
            type="application/rss+xml"
        )
        
        each post in posts
            - $full_url = $url->makeFull($post['route'])
            
            item= post.title
            guid(isPermaLink="true")= full_url
            description= post.content
            pubdate
                - echo date('r', strtotime($post['date']))